body {
  background-color: #232323;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

h1 {
  color: white;
  font-weight: normal;
  text-align: center;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.selected {
  background: blue;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}

#colorDisplay {
  font-size: 200%;
}
